<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="myframework.mybatis.BioMapper">
	<insert id="insert" parameterType="myframework.staff.model.domain.Bio">
	  INSERT INTO bio (blood, height, weight, staff_id)
		  VALUES (
		    #{blood},
		    #{height},
		    #{weight},
		    #{staff.staff_id}
		  )
	</insert>

</mapper>